.page-header
  %h1.text-center
    Videos
.row
  .col-md-8.col-md-offset-2
    = will_paginate @videos, renderer: BootstrapPagination::Rails

    - for video in @videos
      %div
        .pull-right
          %small.text-muted
            #{video.starts_at.strftime('%b %e, %l:%M%p')} -
            #{video.ends_at.strftime('%l:%M%p')}

        %p
          = link_to video.name, video_path(video)

      %hr

    = will_paginate @videos, renderer: BootstrapPagination::Rails
