.page-header.text-center
  %h1 Video archive
  %p
    %small
      = link_to 'Highlights', highlights_path
      \/
      = link_to 'Search for clips', events_path
      \/
      %span.text-muted Video archive

%p.text-center Use this archive to browse all footage and re-align timestamps.

= will_paginate @videos, renderer: BootstrapPagination::Rails

%table.table.table-middle
  - for video in @videos
    %tr
      %td
        = link_to video_path(video) do
          = image_tag video.thumbnail, style: 'height: 50px;', alt: "Video #{video.id}"
      %td
        = link_to video_path(video) do
          = video.title

      %td
        %small.text-muted
          #{video.duration/60}m#{video.duration%60}s

      %td
        %small.text-muted
          #{video.events.length} events

      %td
        %small.text-muted= video.youtube_id ? 'youtube' : 'drive'

      %td
        - if video.hidden?
          %small.text-danger
            %i.fa.fa-remove
            Hidden
        - elsif video.starts_at == video.original_starts_at
          %small.text-success
            %i.fa.fa-check
            On time
        - else
          - offset = video.starts_at.to_i - video.original_starts_at.to_i
          %small.text-warning
            %i.fa.fa-warning
            - if offset > 0
              #{offset/60}m#{offset%60}s ahead
            - else
              - offset *= -1
              #{offset/60}m#{offset%60}s behind

      %td.text-right
        %small.text-muted
          #{video.starts_at.strftime('%b %e, %l:%M:%S %p')} -
          #{video.ends_at.strftime('%l:%M:%S %p')}


= will_paginate @videos, renderer: BootstrapPagination::Rails
