.page-header
  %h1.text-center
    Videos
.row
  .col-md-8.col-md-offset-2
    = will_paginate @videos, renderer: BootstrapPagination::Rails

    %table.table
      - for video in @videos
        %tr
          %td
            = link_to video.name, video_path(video)

          %td
            %small.text-muted
              - if video.duration < 60000
                #{(video.duration/1000).to_i}s
              - else
                #{(video.duration/60000).to_i}m

          %td
            %small.text-muted
              #{video.events.length} events

          %td
            %small.text-muted= video.youtube_id ? 'youtube' : 'drive'

          %td.text-right
            %small.text-muted
              #{video.starts_at.strftime('%b %e, %l:%M%p')} -
              #{video.ends_at.strftime('%l:%M%p')}


    = will_paginate @videos, renderer: BootstrapPagination::Rails
