.page-header.text-center
  %h1= @video.title
.row
  .col-md-6
    .video-container
      - if @video.youtube_id.present?
        = render 'videos/embed', video: @video
      - else
        %iframe(src="https://docs.google.com/file/d/#{@video.google_id}/preview" width="640" height="480")
  .col-md-6
    %p
      Claims to start at: #{@video.original_starts_at.strftime('%a, %b %e, %l:%M:%S %p, %Y')} <br>
      Claims to end at: #{@video.original_ends_at.strftime('%a, %b %e, %l:%M:%S %p, %Y')}

    %hr
    %p
      Tag this event
      %br
      %small Navigate to a place in the video where a play happens, then find that play below, and tag it!

    %div(ng-controller='EventsCtrl' ng-init="init('#{@video.id}')")

      %div(ng-show='!selectedEvent')
        .form-group
          %input.form-control(ng-model='query' ng-keydown='typing()')


        %div(ng-repeat='event in events')
          .pull-right
            %small.text-muted
              {{event.kind}}, {{event.starts_at}}
              %span(ng-if='event.ends_at') - {{event.ends_at}}

          %p
            {{event.title}}
            %small
              %a(ng-click='select(event)' href='javascript:void(0);') select

          %hr

        .text-center
          %a.btn.btn-default(ng-click='loadMore()') Show more

      %div(ng-show='selectedEvent')
        .pull-right
          %small.text-muted
            {{selectedEvent.kind}}, {{selectedEvent.starts_at}}
            %span(ng-if='selectedEvent.ends_at') - {{selectedEvent.ends_at}}

        %p
          {{selectedEvent.title}}

        %p When does this play happen in the clip?

        .form-group
          %input.form-control(ng-model='minutesIntoClip' style='display: inline-block; width: 100px;' placeholder='min')
          %input.form-control(ng-model='secondsIntoClip' style='display: inline-block; width: 100px;' placeholder='sec')
          %a.btn.btn-default(ng-click='tagWithSelectedEvent()') Save

