.back-link
  %small= link_to '&laquo; All videos'.html_safe, videos_path

.page-header
  %h1= @video.title

.row
  .col-md-8
    .video-container
      - if @video.youtube_id.present?
        = render 'videos/embed', video: @video
      - else
        %iframe(src="https://docs.google.com/file/d/#{@video.google_id}/preview" width="640" height="480")

    %br


    - if current_user and @video.user_id == current_user.id
      - if @video.hidden?
        .alert.alert-danger
          This video is hidden.
          = link_to 'Un-hide it.', video_path(@video, video: { hidden: false}), method: :put

      - if @video.aligned?
        .alert.alert-success
          %i.fa.fa-check
          This video has been manually aligned.
          %small= link_to 'remove alignment', unalign_video_path(@video), method: :post


        %p
          %strong Manually aligned timestamps
        %p
          Manually aligned start time: #{@video.starts_at.strftime('%a, %b %e, %l:%M:%S %p, %Y')} <br>
          Manually aligned end time: #{@video.ends_at.strftime('%a, %b %e, %l:%M:%S %p, %Y')}

    - if @video.original_starts_at
      %p
        %strong Video details
      %p
        Original file's start time: #{@video.original_starts_at.strftime('%a, %b %e, %l:%M:%S %p, %Y')} <br>
        Original file's end time: #{@video.original_ends_at.strftime('%a, %b %e, %l:%M:%S %p, %Y')} <br>
        Original file's duration: #{@video.duration/60}m#{@video.duration%60}s
    - else
      %p This video has not been synced.


    - if current_user and @video.user_id == current_user.id
      - if !@video.hidden?
        %p
          Is this video useless?
          = link_to 'Hide it.', video_path(@video, video: { hidden: true}), method: :put

  .col-md-4
    - if current_user and @video.user_id == current_user.id
      %div(ng-controller='EventsCtrl as eventsCtrl' ng-init="eventsCtrl.init('#{@video.id}', { sort: 'asc' })")

        %div(ng-show='!eventsCtrl.aligningVideo')
          %p
            Here's the current event stream near this video.
            %br
            %small.text-muted
              - if @video.aligned?
                Look incorrect?
                %a(href='javascript:void(0);' ng-click='eventsCtrl.aligningVideo = true') Re-align it.
              - else
                - if @video.starts_at
                  Look right?
                  %a(href='javascript:void(0);' ng-click='eventsCtrl.alignWithoutEvent()') Mark it as aligned.
                Look wrong?
                %a(href='javascript:void(0);' ng-click='eventsCtrl.aligningVideo = true') Align it.

          - if @video.events.blank?
            %hr
            %p There are no events lined up with this video.
          - for event in @video.events
            %hr
            .pull-right
              %small.text-muted
                - secs = (event.starts_at - @video.starts_at).to_i
                - if secs < 0
                  - secs *= -1
                  starts #{secs/60}:#{secs%60} before this clip
                - else
                  #{secs/60}:#{secs%60} in this clip

            %p
              #{event.title}



        %div(ng-show='eventsCtrl.aligningVideo')

          %p
            Align this video
            %br
            %small
              Search for one single event (like a pass) by typing players names, then once
              you've found a matching event, tell us exactly when it happens in this video.
              Then the whole video will be aligned.
              %br
              %a(href='javascript:void(0);' ng-click='eventsCtrl.settingOffset = true') Set offset directly
              \/
              %a(href='javascript:void(0);' ng-click='eventsCtrl.aligningVideo = false; eventsCtrl.settingOffset = false') Cancel


          %div(ng-show='!eventsCtrl.selectedEvent && !eventsCtrl.settingOffset')
            .form-group
              %input.form-control(ng-model='eventsCtrl.query' ng-keydown='eventsCtrl.typing()' placeholder='Search here')


            %div(ng-repeat='event in eventsCtrl.events')
              .pull-right
                %small
                  %a(ng-click='eventsCtrl.select(event)' href='javascript:void(0);') select

              %p
                {{event.title}}
                %br
                %small.text-muted
                  {{event.kind}}, {{event.starts_at}}
                  %span(ng-if='event.ends_at') - {{event.ends_at}}

              %hr

            .text-center
              %a.btn.btn-default(ng-click='eventsCtrl.loadMore()') Show more

          %div(ng-show='eventsCtrl.selectedEvent && !eventsCtrl.settingOffset')
            %hr

            .pull-right
              %small.text-muted
                {{eventsCtrl.selectedEvent.kind}}, {{eventsCtrl.selectedEvent.starts_at}}
                %span(ng-if='eventsCtrl.selectedEvent.ends_at') - {{eventsCtrl.selectedEvent.ends_at}}

            %p
              {{eventsCtrl.selectedEvent.title}}
              %small
                %a(ng-click='eventsCtrl.clearSelection()' href='javascript:void(0);') cancel selection
            %hr

            %p When does this play happen in the clip?

            %form(ng-submit='eventsCtrl.alignWithSelectedEvent()')
              .form-group
                %input.form-control(ng-model='eventsCtrl.minutesIntoClip' style='display: inline-block; width: 100px;' placeholder='min' type='number')
                %input.form-control(ng-model='eventsCtrl.secondsIntoClip' style='display: inline-block; width: 100px;' placeholder='sec' type='number')
                %button.btn.btn-default Save

          %div(ng-show='eventsCtrl.settingOffset')
            %form(ng-submit='eventsCtrl.saveOffset()')
              .form-group
                %p Enter the number of seconds to offset this video from it's <em>original start time</em>. Negative numbers move it backwards.
                %input.form-control(ng-model='eventsCtrl.offset' required type='number')

              .form-group
                %button.btn.btn-default Save
    - else
      Please
      = link_to 'sign in', signin_path
      as this video's owner to sync it.


