.page-header
  %h1 Plastic Disco
  %p
    %small Footage of ultimate + UltiAnalytics = Let's Disco
  %p
    %small
      %span.text-muted Highlights
      \/
      = link_to 'Search for clips', events_path
      \/
      = link_to 'Video archive', videos_path


.row
  - for highlight in @highlights
    .col-sm-4.text-center
      %p
        = link_to highlight_path(highlight) do
          = image_tag highlight.video.thumbnail, class: 'img-responsive'
      %p(style='min-height: 60px;')= link_to highlight.title, highlight_path(highlight)

= will_paginate @highlights, renderer: BootstrapPagination::Rails
