.back-link
  %small= link_to '&laquo; All highlights'.html_safe, highlights_path

.page-header.text-center
  %h1= @highlight.title

.row
  .col-md-8.col-md-offset-2
    .video-container
      - if @highlight.video.youtube_id.present?
        = render 'videos/embed', video: @highlight.video, seek: @highlight.offset, duration: @highlight.duration
      - else
        %iframe(src="https://docs.google.com/file/d/#{@highlight.video.google_id}/preview" width="640" height="480")
                  
    .text-right
      %small= link_to 'explore this video &raquo;'.html_safe, video_path(@highlight.video)
