-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Browse', events_path
        %li= link_to 'All videos', videos_path


      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to 'Sign out', signout_path
        - else
          %li= link_to 'Sign in', signin_path
